#modalAdmin.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Authenticate as Admin
          p.text-danger.float-right.m-a-0
      .modal-body
        form.row(action='#')
          .col-sm-8
            input.form-control.form-control-lg(type='password', placeholder='Password')
          .col-sm-4
            button.btn.btn-primary.btn-lg.btn-block Authenticate
