div#modalMovie.modal.fade
  div.modal-dialog
    div.modal-content
      div.modal-header
        h4.modal-title Set Movie
          p.text-danger.pull-sm-right.m-a-0
      div.modal-body
        form
          div.form-group.row
            div.col-sm-12
              input(type='url', placeholder='URL')#url.form-control.form-control-lg
          div.form-group.row
            div.col-sm-8
              input(placeholder='ID', pattern='^\\d+$', title='TMDB.org ID')#id.form-control.form-control-lg
            div.col-sm-4
              button.btn.btn-primary.btn-lg.btn-block Set Movie
