#modalMovie.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Set Movie
          p.text-danger.float-right.m-a-0
      .modal-body
        form(action='#')
          .form-group.row
            .col-sm-12
              input#url.form-control.form-control-lg(type='url', placeholder='URL')
          .form-group.row
            .col-sm-8
              input#id.form-control.form-control-lg(type='text', placeholder='ID', pattern='^\\d+$', title='TMDB.org ID')
            .col-sm-4
              button.btn.btn-primary.btn-lg.btn-block Set Movie
