extends layout

block content
  main.d-flex.flex-row.flex-nowrap.justify-content-between.align-items-stretch
    section#video(style='background-image: url(' + cover + ')')
      video.mx-auto
      section.controls.px-4.py-2
        button#play.btn.btn-default.float-left
          i.fa.fa-play
        .progress.float-left.ml-4
          .progress-bar
        p.float-right 0:00:00 / 0:00:00

    section#sidebar
      a(href='#', title='Leave')
        i.fa.fa-cog.text-muted
        i.fa.fa-sign-out.text-muted

      nav
        ul.nav.nav-tabs
          li.nav-item
            a.nav-link.active(href='#chat', data-toggle='tab') Chat
          li.nav-item
            a.nav-link(href='#users', data-toggle='tab') Users 
              span.badge.badge-primary 0
          li.nav-item
            a.nav-link(href='#info', data-toggle='tab') Info

      section.tab-content
        article#chat.tab-pane.active
          dl
            dt Movie Night
            dd Welcome to Movie Night
          form.row(action='#')
            .col-lg-9.p-r-0
              input.form-control(type='text', placeholder='Message', autofocus)
            .col-lg-3
              button.btn.btn-default.btn-block Send

        article#users.tab-pane
          dl

        article#info.tab-pane
          h3
            span#info-title
            span#info-year.text-muted
          p#info-runtime.text-muted
          p
            em
          img.img-fluid(alt='Poster', title='Poster')

  include modals/name
  include modals/admin
  include modals/movie
