extends layout

block content
  main.d-flex.flex-row.flex-nowrap.justify-content-between.align-items-stretch
    section(style='background-image: url(#{cover})')#video
      video.mx-auto

    section#sidebar
      a(href='#', title='Leave')
        i.fa.fa-sign-out.text-muted

      nav
        ul.nav.nav-tabs
          li.nav-item
            a(href='#chat', data-toggle='tab').nav-link.active Chat
          li.nav-item
            a(href='#users', data-toggle='tab').nav-link Users 
              span.badge.badge-primary 0
          li.nav-item
            a(href='#info', data-toggle='tab').nav-link Info

      section.tab-content
        article#chat.tab-pane.active
          dl
            dt Movie Night
            dd Welcome to Movie Night
          form.row
            .col-lg-9.p-r-0
              input(placeholder='Message', autofocus).form-control
            .col-lg-3
              button.btn.btn-default.btn-block Send

        article#users.tab-pane
          dl

        article#info.tab-pane
          h3
            span#info-title
            span#info-year.text-muted
          p#info-runtime.text-muted
          p
            em
          img(title='Poster').img-fluid

  include modals/name
  include modals/admin
  include modals/movie
