html, body, main {
	width: 100%;
	height: 100%;
}

body {
	background-color: #171818;
}

#video {
	width: 100%;
	background: no-repeat center;
	background-size: cover;
}

video {
	display: none;
}

video::-webkit-media-controls {
	display: none !important;
}

#osd {
	width: 100%;
	height: 4rem;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2147483647;
	margin: auto;
	color: #fff;
	text-align: center;
	font-size: 2.5rem;
	line-height: 4rem;
	background-color: rgba(221, 221, 221, 0.3);
}

#sidebar {
	width: 450px;
	min-width: 450px;
	overflow: visible;
	background-color: #fff;
}

#sidebar a i {
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: 1.3rem;
}

.nav {
	padding: 10px 15px 0;
}

article {
	margin: 10px 15px;
}

#chat {
	margin: 0 15px;
}

#chat dl {
	margin: 0 -15px 0 0;
	padding: 10px 15px 10px 0;
	overflow-y: scroll;
	word-wrap: break-word;
}

#chat dl dt small {
	padding-left: 5px;
	font-style: italic;
	color: #818a91;
}

#chat form {
	height: 55px;
	margin-top: 15px;
}

#users dl dt {
	padding-bottom: 8px;
}

#users dl dt span.float-right {
	font-weight: normal;
}

#users dl dd {
	border-bottom: 1px solid #ddd;
}

#info #info-title {
	margin-right: 8px;
}
